@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab|Sigmar+One');
*{
    margin: 0;
    padding: 0;
    
}
body, html {
    width: 100%;
    height: 100%;
    
}
body {
    background-color: #f6f6f6;
}


a {
    color: dimgray;
    text-decoration: none;
    transition: all.6s ease;
    -ms-transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    opacity: 1;
}

a:hover {
    color: darkgray
    text-decoration: none;
    transition: all.6s ease;
    -ms-transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; 
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    
    
}

header {
    float: left;
    background-color: dimgrey;
    width: 99.4%;
	height: 10%;
    padding: 0.3%;
    border-bottom: 5x solid #59595a;
    
    
}
header>div#logo>a>img {
    width: 50px;
    height: 50px;
    float: left;
    
}
header>div#logo>a {
    color: white;
    font-size: 2.5em;
    margin-left: 5px;
    font-family: 'Sues One', serif;
    
    
    
}

header>div#logo>a>img {
    margin-left: 10%;
    
}

#logo {
    float: left;
    width: 15%;
	padding-top: 1%;
}
#logo>p {
	size: 11px;
}

#about {
    float: left;
    width: 65%;
}


#reg_auth {
    float: right;
    width: 15%;
	padding-top: 1%;
    
}


#about {
    
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
	padding: 0%; 
    float: left;
    width: 50%;
    text-align: center;
	margin: 1% 0% 1% 3%;
	padding-top: 1%;
}
#about>a {
    color: white;
	margin-left: 8%;

    
}
#about>a:hover {
    color: darkgrey;
    border-bottom: 1px solid gray;
    
}
#about>a:last-child {
    margin-right: 20%;
    
}

#reg_auth>a {
color: white;

}

#reg_auth>a:hover>div {
 	opacity: 1;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: linear;
    margin-right: 4%;  
    
}
#reg_auth>a:active>div {
    margin-right: 4%;
    
}
#reg_auth>a>div {
    opacity: 0.3;
	margin-left: 20px;
	text-align: center;
	position: relative;
    margin-right: 0%;
    margin-top: 10px;
    margin-bottom: 0%;
    padding: 3px 3px;
    font-size: 1.1em;
    background-color: darkgray;
    text-shadow: #454545 0 0 2px;
    border-bottom: 0px solid rgba(217, 31, 72, 0);
    font-family: 'Roboto Slab', serif;

}
nav {
    background-color: white;
    width: 99.4%;
    padding: 7px 0.3%;
    float: left;
    border-bottom: 2px solid #ebebeb;
}


#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
	width: 80%;
	margin-left: 10%;
    
}
#content {
    flex: 1 0 auto;
}
#fstclmn {
	margin: 3% 0%;
	width: 15%;
	height:80%;
	background-color: darkgray;
	border: 3px;
	border-color: black;
	position:relative;
	float:left;
}
#cntrclmn {
	margin: 3% 2% 3% 2%;
	width: 66%;
	height:80%;
	background-color: darkgray;
	border: 3px;
	border-color: black;
	position:relative;
	float:left;
}
#rghtclmn {
	margin: 3% 0%;
	width: 15%;
	height:80%;
	background-color: darkgray;
	border: 3px;
	border-color: black;
	position: relative;
	float: right;
}

footer {
   float: left;
    background-color: #343434;
    width: 98%;
	height:10%;
    padding: 1%;
    border-top: 5x solid #59595a;
    font-family: 'Roboto Slab', serif;
    
}
#site_name {
    margin-right: 5%;
    color: #f4f4f4;
    font-size: 1.5em;
    float: right;
}
#site_name>span {
     font-family: 'Sues One', serif;
}
#footer_menu {   
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    padding-top: 10px; 
    float: left;
    width: 40%;
    text-align: center;
}
#footer_menu>a {
    margin-right: 20%;
    color: aliceblue;
}
#footer_menu1 {
    float: left;
    width: 40%;
    color: antiquewhite;
}



#rights {
    float: right;
    margin-left: 20%;
    font-size: 1em;

    
}
#rights>a {
    color: white;
}
#social {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    padding-top: 10px; 
    float: right;
    width: 50%;
    text-align: center;
}
*{
    font-family: Areal;
}
